#header {
	display: flex;
	justify-content: space-between;
}
#logo {
	color: darkblue; 
	margin-top: 0px;
}
#navigasi {
	display: flex;
	gap: 15px;
}
#navigasi>a {
	text-decoration: none;
}
input {
	margin-top: 10px;
	outline: none;
	border: solid darkblue;
	padding: 10px;
	border-radius: 8px;
}
label {
	margin-bottom: 4px;
	font-size: 16px;
	color: brown;
	font-weight: bold;
}
.form {
	background-color: lightgray;
	display: flex;
	flex-direction: column;
}
input:focus {
	border:solid orange;
}
#gender {
	display: inline;
}
#button {
	display: inline;
}
button {
	border-color: darkblue;
	color: brown;
	font-weight: bold;
	padding: 6px;
	border-radius: 8px;
	margin-top: 8px;
	cursor: pointer;
}
button:hover {
	background-color: orange;
}
button:active {
	transform: translateY(4px);
}
.hasil {
	justify-content: center;
	font-weight: bold;
	color: brown;
}
